# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
dist/
*.tsbuildinfo

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite
*.db
*.db-journal

# Misc
coverage/
tmp/
temp/
.vscode/
.idea/
.history/

# Postman
*.postman_collection.json
